@media (max-width: 975px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 50px 15px;
    }
    .card {
        padding: 40px;
        max-width: unset;
    }
    .card-1 {
        border-radius: 5px 5px 0px 0px;
    }
    .card-3 {
        border-radius: 0px 0px 5px 5px;
    }
    p {
        padding-bottom: 40px;
        ;
    }
}